*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.justifyContent{
    justify-content: space-between;
}
.flex-x-end{
    justify-content: flex-end;
}
.flex-y-center{
    align-items: center;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-cloumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-x-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-y-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-y-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.just-center {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
